* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #eef5ff;
}

.main-container {
    display: flex;
    background-color: #ffffff;
    flex-basis: 60%;
    height: 75%;
    border-radius: 10px;
    box-shadow: 3px 3px 100px #d7d8da;
    padding: 10px;
}

.steps-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: url("./assets/images/bg-sidebar-desktop.svg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: auto 100%;
    color: #ffffff;
    border-radius: 10px;
    flex-basis: 250px;
}

.inner-steps-container {
    padding-top: 20px;
}

.content-container {
    display: flex;
    flex-grow: 2;
}

.step-details {
    display: flex;
    margin-left: 20px;
}

.outer-number {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.number {
    padding: 10px;
    border: solid 1px #9690ff;
    border-radius: 50%;
    font-weight: bold;
    font-size: small;
}

.step-content {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
}

.step-number {
    font-weight: lighter;
    font-size: smaller;
}

.step-name {
    font-weight: bold;
    font-size: smaller;
}

/* YOUR INFO */

.your-info-container {
    display: none;
    flex-direction: column;
    flex-grow: 1;
}

.your-info {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    padding-inline: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.top-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-basis: 15%;
}

.outer-personal-info-form {
    display: flex;
    flex-direction: column;
    flex-basis: 75%;
}

.personal-info-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}


.personal-info-form>input {
    border: 1px solid #cdccd1;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.form-title {
    font-size: xx-large;
    font-weight: bold;
    color: hsl(213, 96%, 18%);
}

.form-info {
    font-size: 16px;
    color: hsl(231, 11%, 63%);
}

.next-step {
    display: flex;
    justify-content: flex-end;
}

.next-step>button {
    padding-inline: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: hsl(213, 96%, 18%);
    font-weight: bold;
    color: #ffffff;
    border-radius: 10px;
    cursor: pointer;
}

.label-field-1,
.label-field-2,
.label-field-3 {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
}

.label-field-1>label {
    color: hsl(213, 96%, 18%);
}

.label-field-2>label {
    color: hsl(213, 96%, 18%);
}

.label-field-3>label {
    color: hsl(213, 96%, 18%);
}

.label-field-1>p {
    display: none;
    color: red;
}

.label-field-2>p {
    display: none;
    color: red;
}

.label-field-3>p {
    display: none;
    color: red;
}

/* SELECT PLAN */

.select-your-plan-container {
    display: none;
    flex-direction: column;
    flex-grow: 1;
}

.inner-select-your-plan-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 100%;
    padding-inline: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.select-your-plan {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-basis: 15%;
}

.plan-cards {
    display: flex;
    justify-content: space-between;
    flex-basis: 40%;
    height: 100%;
}

.billing-monthly-yearly {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 10%;
    background-color: #f8f9fe;
    border-radius: 10px;
}

.toggle-button {
    flex-basis: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggler {
    display: flex;
    background-color: hsl(213, 96%, 18%);
    flex-basis: 50px;
    height: 20px;
    border-radius: 50px;
    cursor: pointer;
    position: relative;
    transition: 0.2s;
    padding: 2px;
}

.toggler::before {
    position: absolute;
    content: '';
    background-color: #fff;
    width: 23px;
    height: 18px;
    border-radius: 50%;
    margin: 1px;
    transition: 0.2s;
}

input:checked+.toggler {
    background-color: hsl(213, 96%, 18%);
}

input:checked+.toggler::before {
    transform: translateX(25px);
}

#change-plan {
    display: none;
}

.bottom-nav-opts {
    display: flex;
    justify-content: space-between;
}

.no-plan-selected {
    display: none;
    color: red;
}

.arcade-plan {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    border: solid 1.5px #cdccd1;
    border-radius: 10px;
    width: 100px;
}

.arcade-plan:hover {
    cursor: pointer;
    border: solid 1.5px hsl(213, 96%, 18%);
}

.advanced-plan {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    border: solid 1.5px #cdccd1;
    border-radius: 10px;
    width: 100px;
}

.advanced-plan:hover {
    cursor: pointer;
    border: solid 1.5px hsl(213, 96%, 18%);
}

.pro-plan {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    border: solid 1.5px #cdccd1;
    border-radius: 10px;
    width: 100px;
}

.pro-plan:hover {
    cursor: pointer;
    border: solid 1.5px hsl(213, 96%, 18%);
}

.arcade-icon,
.advanced-icon,
.pro-icon {
    padding-top: 10px;
    padding-inline-start: 5px;
}

.step-2-next-step {
    padding-inline: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: hsl(213, 96%, 18%);
    font-weight: bold;
    color: #ffffff;
    border-radius: 10px;
    cursor: pointer;
}

.step-2-go-back {
    border: none;
    background-color: #ffffff;
    color: hsl(231, 11%, 63%);
    font-weight: bold;
    cursor: pointer;
}

.step-2-title {
    font-size: xx-large;
    font-weight: bold;
    color: hsl(213, 96%, 18%);
}

.step-2-info {
    font-size: 16px;
    color: hsl(231, 11%, 63%);
}

.arcade-name,
.advanced-name,
.pro-name {
    font-weight: bold;
    color: hsl(213, 96%, 18%);
    padding-bottom: 5px;
}

.arcade-price-yearly,
.advanced-price-yearly,
.pro-price-yearly {
    display: none;
    color: hsl(231, 11%, 63%);
    font-size: 14px;
    padding-bottom: 5px;
}

.arcade-price-monthly,
.advanced-price-monthly,
.pro-price-monthly {
    display: flex;
    color: hsl(231, 11%, 63%);
    font-size: 14px;
    padding-bottom: 5px;
}

.yearly-discount {
    display: none;
    color: hsl(213, 96%, 18%);
    font-size: small;
}

.monthly-billing {
    padding-inline: 10px;
    font-size: 14px;
    color: hsl(231, 11%, 63%);
}

.yearly-billing {
    padding-inline: 10px;
    font-size: 14px;
    color: hsl(231, 11%, 63%);
}

/* ADD ONS */

.pick-add-ons-container {
    display: none;
    flex-direction: column;
    flex-grow: 1;
}

.inner-pick-add-ons-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 100%;
    padding-inline: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.pick-add-ons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-basis: 15%;
}

.add-ons-services {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 60%;
}

.online-service {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    border: solid 1px #cdccd1;
}

.larger-storage {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    border: solid 1px #cdccd1;
}

.customizable-profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    border: solid 1px #cdccd1;
}

.online-service-content,
.larger-storage-content,
.customizable-profile-content {
    display: flex;
    flex-direction: column;
    flex-basis: 70%;
}

input[type=checkbox] {
    accent-color: #483eff;
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.step-3-next-step {
    padding-inline: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: hsl(213, 96%, 18%);
    font-weight: bold;
    color: #ffffff;
    border-radius: 10px;
    cursor: pointer;
}

.step-3-go-back {
    border: none;
    background-color: #ffffff;
    color: hsl(231, 11%, 63%);
    font-weight: bold;
    cursor: pointer;
}

.pick-add-ons-title {
    font-size: xx-large;
    font-weight: bold;
    color: hsl(213, 96%, 18%);
}

.pick-add-ons-info {
    font-size: 16px;
    color: hsl(231, 11%, 63%);
}

.online-service-name,
.larger-storage-name,
.customizable-profile-name {
    color: hsl(213, 96%, 18%);
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 5px;
}

.online-service-info,
.larger-storage-info,
.customizable-profile-info {
    color: hsl(231, 11%, 63%);
    font-size: 14px;
}

.monthly-online-service-price-field,
.monthly-larger-storage-price-field,
.monthly-customizable-profile-price-field {
    display: flex;
    color: hsl(213, 96%, 18%);
    font-size: 14px;
}

.yearly-larger-storage-price-field,
.yearly-online-service-price-field,
.yearly-customizable-profile-price-field {
    display: flex;
    color: hsl(213, 96%, 18%);
    font-size: 14px;
}

/* SUMMARY */

.summary-container {
    display: none;
    flex-direction: column;
    flex-grow: 1;
}

.inner-summary-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 100%;
    padding-inline: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.finishing-up {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-basis: 15%;
}

.summary-content {
    display: flex;
    flex-direction: column;
    flex-basis: 60%;
    justify-content: flex-start;
}

.summary-content-top {
    border-radius: 10px;
    background-color: #f8f9fe;
    padding: 20px;
}

.summary-content-bottom {
    padding: 20px;
    display: flex;
}

.total-price-summary {
    display: flex;
    justify-content: space-between;
    flex-basis: 100%;
}

.plan-summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
}

.add-ons-summary {
    display: flex;
    flex-direction: column;
}

.step-4-next-step {
    padding-inline: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: hsl(243, 100%, 62%);
    font-weight: bold;
    color: #ffffff;
    border-radius: 10px;
    cursor: pointer;
}

.step-4-go-back {
    border: none;
    background-color: #ffffff;
    color: hsl(231, 11%, 63%);
    font-weight: bold;
    cursor: pointer;
}

.summary-title {
    font-size: xx-large;
    font-weight: bold;
    color: hsl(213, 96%, 18%);
}

.summary-info {
    font-size: 16px;
    color: hsl(231, 11%, 63%);
}

.plan-name-summary {
    display: flex;
    color: hsl(213, 96%, 18%);
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 5px;
}

.change-plan-summary {
    color: hsl(231, 11%, 63%);
    font-size: 14px;
    text-decoration: underline;
}

.change-plan-summary:hover {
    cursor: pointer;
    color: hsl(213, 96%, 18%);
}

.plan-price {
    display: flex;
    color: hsl(213, 96%, 18%);
    font-size: 16px;
    font-weight: bold;
}

.online-service-summary {
    display: flex;
    justify-content: space-between;
    flex-basis: 100%;
    padding-top: 15px;
}

.online-service-name-summary {
    color: hsl(231, 11%, 63%);
    font-size: 14px;
}

.online-service-price-summary {
    display: flex;
    color: hsl(213, 96%, 18%);
    font-size: 14px;
}

.larger-storage-summary {
    display: flex;
    justify-content: space-between;
    flex-basis: 100%;
    padding-top: 15px;
}

.larger-storage-name-summary {
    color: hsl(231, 11%, 63%);
    font-size: 14px;
}

.larger-storage-price-summary {
    display: flex;
    color: hsl(213, 96%, 18%);
    font-size: 14px;
}

.customizable-profile-summary {
    display: flex;
    justify-content: space-between;
    flex-basis: 100%;
    padding-top: 15px;
}

.customizable-profile-name-summary {
    color: hsl(231, 11%, 63%);
    font-size: 14px;
}

.customizable-profile-price-summary {
    display: flex;
    color: hsl(213, 96%, 18%);
    font-size: 14px;
}

hr {
    height: 1px;
    background-color: rgb(225, 225, 225);
    border: none;
}

.total-price-text {
    display: flex;
    color: hsl(231, 11%, 63%);
    font-size: 14px;
}

.total-price-amount-field {
    display: flex;
    color: hsl(243, 100%, 62%);
    font-weight: bold;
    font-size: large;
}

/* THANK YOU PAGE */

.thank-you-container {
    display: none;
    flex-direction: column;
    flex-grow: 1;
}

.inner-thank-you-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 100%;
    padding-inline: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.thank-you-img {
    padding-bottom: 25px;
}

.thank-you-title {
    padding-bottom: 15px;
    color: hsl(213, 96%, 18%);
    font-size: 16px;
    font-weight: bold;
}

.thank-you-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: hsl(231, 11%, 63%);
    font-size: 14px;
}

.thank-you-text-mobile {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: hsl(231, 11%, 63%);
    font-size: 14px;
}

.bottom-nav-mobile {
    display: none;
}

/* MOBILE VIEW */

@media only screen and (max-width: 480px) {

    .main-container {
        flex-direction: column;
        flex-basis: 100%;
        height: 100%;
        padding: 0;
    }

    .steps-container {
        flex-direction: row;
        background: url("./assets/images/bg-sidebar-mobile.svg");
        flex-basis: auto;
        background-size: 100% auto;
        background-position: center;
        justify-content: center;
        align-items: flex-start;
        border-radius: 0;
        overflow-y: visible;
        height: 170px;
    }

    .inner-steps-container {
        display: flex;
        flex-direction: row;
        padding-bottom: 0;
    }

    .step-details {
        justify-content: center;
        margin-left: 0;
    }

    .step-content {
        display: none;
    }

    .content-container {
        flex-grow: none;
        flex-direction: column;
    }

    .bottom-nav-mobile {
        display: block;
        padding: 20px;
        background-color: #ffffff;
    }

    .next-step {
        display: none;
    }

    .step-1-bottom-nav-mobile {
        display: flex;
        justify-content: flex-end;
    }

    .step-1-bottom-nav-mobile>button {
        padding-inline: 25px;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: hsl(213, 96%, 18%);
        font-weight: bold;
        color: #ffffff;
        border-radius: 10px;
        cursor: pointer;
    }

    .step-2-bottom-nav-mobile {
        display: flex;
        justify-content: space-between;
    }

    .step-2-next-step-mobile {
        padding-inline: 25px;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: hsl(213, 96%, 18%);
        font-weight: bold;
        color: #ffffff;
        border-radius: 10px;
        cursor: pointer;
    }

    .step-2-go-back-mobile {
        border: none;
        background-color: #ffffff;
        color: hsl(231, 11%, 63%);
        font-weight: bold;
        cursor: pointer;
    }

    .step-3-bottom-nav-mobile {
        display: flex;
        justify-content: space-between;
    }

    .step-3-next-step-mobile {
        padding-inline: 25px;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: hsl(213, 96%, 18%);
        font-weight: bold;
        color: #ffffff;
        border-radius: 10px;
        cursor: pointer;
    }

    .step-3-go-back-mobile {
        border: none;
        background-color: #ffffff;
        color: hsl(231, 11%, 63%);
        font-weight: bold;
        cursor: pointer;
    }

    .step-4-bottom-nav-mobile {
        display: flex;
        justify-content: space-between;
    }

    .step-4-next-step-mobile {
        padding-inline: 25px;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: hsl(213, 96%, 18%);
        font-weight: bold;
        color: #ffffff;
        border-radius: 10px;
        cursor: pointer;
    }

    .step-4-go-back-mobile {
        border: none;
        background-color: #ffffff;
        color: hsl(231, 11%, 63%);
        font-weight: bold;
        cursor: pointer;
    }

    .next-step {
        display: none;
    }

    .bottom-nav-opts {
        display: none;
    }

    /* YOUR INFO */

    .your-info-container {
        padding-inline: 20px;
        justify-content: space-between;
        background-color: #edf4fe;
    }

    .your-info {
        position: relative;
        padding: 20px;
        flex-basis: auto;
        background-color: #ffffff;
        top: -11vh;
        border-radius: 10px;
        box-shadow: 3px 3px 10px #d7d8da;
    }

    .top-content {
        padding-bottom: 20px;
    }

    .outer-personal-info-form {
        flex-basis: auto;
    }

    .personal-info-form {
        justify-content: flex-start;
        height: auto;
    }

    .form-title {
        font-size: x-large;
        padding-bottom: 10px;
    }

    .label-field-1>label,
    .label-field-2>label,
    .label-field-3>label {
        font-size: small;
    }

    /* SELECT YOUR PLAN */

    .select-your-plan-container {
        padding-inline: 20px;
        justify-content: space-between;
        background-color: #edf4fe;
    }

    .inner-select-your-plan-container {
        position: relative;
        padding: 20px;
        flex-basis: 375px;
        background-color: #ffffff;
        top: -11vh;
        border-radius: 10px;
        box-shadow: 3px 3px 10px #d7d8da;
    }

    .plan-cards {
        flex-direction: column;
        padding-top: 20px;
        padding-bottom: 20px;
        flex-grow: 1;
    }

    .arcade-plan,
    .advanced-plan,
    .pro-plan {
        padding: 5px;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: auto;
        height: 50px;
    }

    .arcade-icon,
    .advanced-icon,
    .pro-icon {
        padding-top: 0;
        padding-right: 10px;
    }

    .step-2-title {
        font-size: x-large;
        padding-bottom: 10px;
    }

    .arcade-name,
    .advanced-name,
    .pro-name,
    .arcade-price-monthly,
    .arcade-price-yearly,
    .advanced-price-monthly,
    .advanced-price-yearly,
    .pro-price-monthly,
    .pro-price-yearly,
    .yearly-discount {
        font-size: small;
    }

    .toggler::before {
        width: 20px;
    }

    input:checked+.toggler::before {
        transform: translateX(19px);
    }

    /* PICK ADD ONS */

    .pick-add-ons-container {
        padding-inline: 20px;
        justify-content: space-between;
        background-color: #edf4fe;
    }

    .inner-pick-add-ons-container {
        position: relative;
        padding: 20px;
        flex-basis: 375px;
        background-color: #ffffff;
        top: -11vh;
        border-radius: 10px;
        box-shadow: 3px 3px 10px #d7d8da;
        justify-content: flex-start;
    }

    .add-ons-services {
        flex-basis: auto;
        justify-content: space-evenly;
        flex-grow: 1;
    }

    .pick-add-ons-title {
        font-size: x-large;
        padding-bottom: 10px;
    }

    .online-service,
    .larger-storage,
    .customizable-profile {
        padding: 15px;
    }

    .online-service-name,
    .online-service-info,
    .yearly-online-service-price-field,
    .monthly-online-service-price-field,
    .larger-storage-name,
    .larger-storage-info,
    .yearly-larger-storage-price-field,
    .monthly-larger-storage-price-field,
    .customizable-profile-name,
    .customizable-profile-info,
    .yearly-customizable-profile-price-field,
    .monthly-customizable-profile-price-field {
        font-size: small;
    }

    /* FINISHING UP */

    .summary-container {
        padding-inline: 20px;
        justify-content: space-between;
        background-color: #edf4fe;
    }

    .inner-summary-container {
        position: relative;
        padding: 20px;
        flex-basis: 300px;
        background-color: #ffffff;
        top: -11vh;
        border-radius: 10px;
        box-shadow: 3px 3px 10px #d7d8da;
        justify-content: flex-start;
    }

    .summary-title {
        font-size: x-large;
        padding-bottom: 10px;
    }

    .summary-info {
        padding-bottom: 20px;
    }

    .plan-name-summary,
    .change-plan-summary,
    .plan-price,
    .online-service-name-summary,
    .larger-storage-name-summary,
    .customizable-profile-name-summary,
    .online-service-price-summary,
    .larger-storage-price-summary,
    .customizable-profile-price-summary {
        font-size: small;
    }

    .total-price-text {
        display: flex;
        align-items: center;
        font-size: small;
    }

    .total-price-amount-field {
        font-size: medium;
    }

    .summary-content-bottom {
        align-items: center;
    }

    /* THANK YOU PAGE */

    .thank-you-container {
        padding-inline: 20px;
        justify-content: space-between;
        background-color: #edf4fe;
    }

    .inner-thank-you-container {
        position: relative;
        padding: 20px;
        flex-basis: auto;
        background-color: #ffffff;
        top: -11vh;
        border-radius: 10px;
        box-shadow: 3px 3px 10px #d7d8da;
    }

    .thank-you-img{
        padding-top: 20px;
    }

    .thank-you-img>img {
        height: 75px;
        width: 75px;
    }

    .thank-you-title>h1 {
        font-size: x-large;
        padding-bottom: 10px;
    }

    .thank-you-text {   
        display: none;
    }

    .thank-you-text-mobile {
        display: flex;
    }
}